.banner__with_text{
    background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.3)) ,url('../../assets/Banner.webp');
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: end;
    color: #fff;
} 